@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes scrollBanner {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  body{
    background-color: #eeeff1;
  }
  
  .banner {
    animation: scrollBanner 10s linear infinite;
  }